/* Main body css*/

* {
  padding: 0px;
  margin: 0px;

}

body {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}



.ninjaBtns {
  background-color: white;
  border-radius: 30px;
  border-style: none;
  color: #231A53;
  padding: 10px;
  border: none;
  font-weight: bolder;
}

.ninjaBtns:hover {
  border: 2px solid #ffffff;
  background: #231A53;
  color: #ffffff;
}

h1 b {
  font-size: 50px;
}

h3 a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Home section css*/
.hero_area {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.hero_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hero_bg_box .img_box {
  width: 100%;
}

.hero_bg_box .img_box img {
  min-width: 100%;
  min-height: 100%;
}

.hero_bg_box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sub_page .hero_area {
  min-height: auto;
}

.sub_page .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  padding-bottom: 21px;
}

.hero_area.sub_pages {
  height: auto;
}


.slider_section {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #ffffff;
}

.slider_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider_section .detailBox {
  width: 100%;
  margin: 0 auto;
}

.slider_section .detailBox h1 {
  text-transform: uppercase;
  font-size: 3rem;
  color: #ffffff;
  font-weight: 600;
}

.slider_section .detailBox .btnBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.slider_section .detailBox .btnBox a {
  width: 180px;
  text-align: center;
  margin: 5px;
}

/* Work section Css*/

.work_section {
  /* background-color: #1c1c1c; */
  background-image: url("../images/BG_image_01.png");
  color: #ffffff;
  background-size: cover;
}

.work_section .heading_container {
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  margin: 10px;

}

.work_section .box {
  /* background-color: #ffffff; */
  padding: 25px 15px;
  text-align: center;
  /* -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2); */
  /* box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2); */
  margin: 45px;
}

.work_section .box .imgBox svg {
  width: 75px;
  height: auto;
  fill: #231A53;
}

.workNinja {
  padding: 80px 0px 10px 0px;
  /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */

}

.work_section .box .detailBox {
  margin-top: 25px;
}

.work_section .box .detailBox h6 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.work_section .box .detailBox a {
  display: inline-block;
  padding: 8px 35px;
  background-color: #f1db25;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  margin-top: 10px;
}

.work_section .box .detailBox a:hover {
  background-color: transparent;
  border-color: #f1db25;
  color: #f1db25;
}


.client {
  /* background-color: #1c1c1c; */
  background-image: url("../images/BG_image_04.png");
  color: #ffffff;
  background-size: cover;
  /* padding: 50px; */
}

/* Services section css*/


.service_section {
  text-align: center;
  /* background-color: #1c1c1c; */
  background-image: url("../images/BG_image_03.png");
  color: #ffffff;
  background-size: cover;
  padding: 30px;
}

.service_section #carouselExampleControls {
  padding: 0 10%;
}

.service_section .heading_container {
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  margin: 10px;

}

.service_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* margin-top: 45px; */
}

.service_section .box .imgBox {
  /* width: 145px; */
  width: 80%;
}

.service_section .box .imgBox img {
  width: 80%;
}

.service_section .box .detailBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* margin-top: 20px; */
  text-align: center;
  /* padding: 10px; */
  /* margin: 10px; */
}

.service_section .box .detailBox h4 {
  font-weight: bold;
  font-size: 18px;
  padding: 0 10px;
  border-bottom: 1px solid #ffffff;
}

.service_section .box .detailBox p {
  margin-top: 10px;
}

.service_section .carousel_btn_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
}

.service_section .carousel_control_prev,
.service_section .carousel_control_next {
  position: absolute;
  top: 60%;
  width: 65px;
  height: 65px;
  padding: 10px;
  border: none;
  opacity: 1;
  background-color: #0000;
  color: #ffffff;
  border-radius: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 18px;
}

.service_section .carousel_control_prev {
  left: 0;
}

.service_section .carousel_control_next {
  left: initial;
  right: 0;
}

/* Meet ninjas Online section*/

.team_section {
  text-align: center;
  /* background-color: #1c1c1c; */
  background-image: url("../images/BG_image_02.png");
  color: #ffffff;
  background-size: cover;
  padding: 90px;
  
}

.team_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  margin-top: 45px;
  position: relative;
  margin-left: 55px;
  /* margin: 55px; */
}

.team_section .box .img-box {
  width: 80%;
}

.team_section .box .img-box img {
  width: 80%;
}


.team_section .box .detail-box:hover {
  height: 80%;
}

.team_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 45px;
}

.team_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #f1db25;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
}

.team_section .btn-box a:hover {
  background-color: transparent;
  border-color: #f1db25;
  color: #f1db25;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-color: #7c8e94; */
  background-color: rgba(28, 28, 28, 0.75);
  color: #ffffff;
  overflow: hidden;
  width: 80%;
  height: 0;
  transition: .9s ease;
  padding: 25px 15px;
  text-align: center;
  cursor: pointer;
  /* border-radius: 50%; */
}

.ninjacontainer:hover .overlay {
  height: 100%;
}

.ninjacontainer{
  /* margin-left: ; */
}

.image {
  display: block;
  width: 80%;
  height: auto;
  /* border-radius: 50%; */
}

.team_section .box .detail-box {
  position: absolute;
  width: 80%;
  color: #ffffff;
  padding: 25px 15px;
  text-align: center;
  bottom: 0;
  height: 50px;
  /* background-color: rgba(28, 28, 28, 0.75); */
  transition: 0.9s ease-out;
  overflow: hidden;
  bottom: 0;
  left: 0;
  right: 0;
}

.text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20% 10%;
}

/*Connect to us section*/



/*Footer section*/

.info_section {
  background-color: white;
  color: #453c79;
  padding: 75px 0 10px 0;
}

.info_section .row>div {
  margin-bottom: 25px;
}

.info_section h5 {
  margin-bottom: 25px;
  font-size: 24px;
}

.info_section .info_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.info_section .info_logo .navbar-brand {
  padding: 0;
  margin-bottom: 20px;
}

.info_section .info_logo .navbar-brand span {
  font-size: 24px;
  color: #453c79;
}

.info_section .info_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.info_section .info_contact a {
  color: #231A53;
  margin-bottom: 10px;
}

.info_section .info_contact a i {
  font-size: 20px;
  margin-right: 5px;
}

.info_section .info_form {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-top: 20px;
}

.info_links{
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align:justify;
}


.info_section .info_form .social_box {
  margin-top: 25px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: center; 
}

.info_section .info_form .social_box a {
  margin-right: 10px;
  color: #231A53;
  font-size: 20px;

}

.info_section .info_info{
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.info_section .info_info ul {
  padding: 0;
}

.info_section .info_info ul li {
  list-style-type: none;
}

.info_section .info_info ul li a {
  color: #453c79;
}

.formsect {
  background-image: url("../images/BG_image_02.png");
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}

.myform {
  /* color: wheat; */
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: none;
}

input {
  height: 45px;
  width: 65%;
  border-radius: 20px;
  padding: 12px;
  border-style: none;
  border: none;
  outline: none;
}

textarea {
  /* padding: 5px; */
  /* height: 70px; */
  width: 65%;
  padding: 12px;
  border-radius: 20px;
  outline: none;
}

.btns {

  display: flex;
  align-items: center;
}


.prevBtn {
  /* left:90%; */
}

.nextbtn {
  /* right: 0; */
  /* left: initial; */
}

/* Main.module.css */

.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 5px;
  right: 5px;
  top: 305%;
  transition: .9s ease;
  /* background-color: rgba(0, 0, 0, 0.5); Optional: Add a background color for better visibility */
}

.prevBtn,
.nextBtn {
  padding: 10px;
  cursor: pointer;
  color: white;
  font-size: 24px;
}

.prevBtn {
  /* margin-left: 10px; */
}

.nextBtn {
  /* margin-right: 10px; */
}


@media (min-width: 200px) and (max-width: 1024px) {
  .btns {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0; */
    top: 455%;
    transition: .9s ease;
    /* background-color: rgba(0, 0, 0, 0.5); Optional: Add a background color for better visibility */
  }
  
  .service_section .box .imgBox {
    /* width: 145px; */
    width: 100%;
  }
  
  .service_section .box .imgBox img {
    width: 100%;
  }

  .service_section .carousel_control_prev {
    left: 0;
  }
  
  .service_section .carousel_control_next {
    left: initial;
    right: 0;
  }

}